:root{
    --primary-color: #e754cf;
    --secondary-color: #e019b5a1;
    --font-family: 'Helvetica Neue', sans-serif;
    --font-size-base: 16px;
    --spacing-unit: 8px;
    --fundo: #202020;
    --cartao: #535252;
    --borda: 25px;
    --espaco-interno: 75px;
    --focus: 2px solid #8d6791;
    --degrade1: #6d10b9;
    --degrade2: #be5687;
    --transicao: 500ms;
}